<template>
  <div>
    <div id="chartdiv" style="width: 100%; height: 400px;"></div>
    {{dataset.name.split('-')[0]}}
  </div>
</template>

<script>
  import AmCharts from 'amcharts3'
  import AmSerial from 'amcharts3/amcharts/serial'

  export default {
    components: {
      AmCharts
    },
    props: [
      'dataset'
    ],
    data(){
      return{
      }
    },
    methods: {
      // initChartDate() {
      //   const vm = this;
      //   return {
      //     chart: {
      //       type: 'line',
      //       height: 300,
      //     },
      //     title: {
      //       text: 'PRICE CHART'
      //     },
      //     xAxis: {
      //       startOnTick: false,
      //       endOnTick: false,
      //       minPadding: 0,
      //       maxPadding: 0,
      //       gridLineWidth: 1,
      //       labels: {
      //         formatter: function () {
      //           return vm.dataset.xValues[this.value];
      //         }
      //       }
      //     },
      //     yAxis: {
      //       title: {
      //         text: 'USD'
      //       },
      //       labels: {
      //         formatter: function () {
      //           return this.value;
      //         }
      //       }
      //     },
      //     tooltip: {
      //       crosshairs: true,
      //       shared: true,
      //       formatter: function() {
      //         let label = vm.dataset.xValues[this.x].split(" ").join("");
      //         return `${label}:<span style="font-weight: bold"> ${this.y}</span>`
      //       }
      //     },
      //     credits: {
      //       enabled: false
      //     },
      //     plotOptions: {
      //       line: {
      //         lineWidth: 0,
      //         states: { hover : { lineWidth: 0, enabled: false } },
      //         marker: {
      //           height: 20
      //         }
      //       }
      //     },
      //     series: [
      //       {
      //         name: '',
      //         marker: {
      //           symbol: 'square'
      //         },
      //         data: vm.dataset.spot
      //       },
      //       {
      //         name: '',
      //         marker: {
      //           symbol: 'square'
      //         },
      //         data: vm.dataset.buy
      //       },
      //       {
      //         name: '',
      //         marker: {
      //           symbol: 'square'
      //         },
      //         data: vm.dataset.sell
      //       }
      //     ],
      //     legend: {
      //       enabled: false
      //     }
      //   }
      // }
    },
    mounted () {
      this.ownChart.dataProvider = this.dataset.chart;
      this.ownChart.validateData();
    },
    watch: {
      dataset: {
        handler: function (val) {
          this.ownChart.dataProvider = val.chart;
          this.ownChart.validateData();
          this.$forceUpdate();
        },
        deep: true
      }
    },

    computed: {
    },

    created() {
      this.ownChart = window.AmCharts.makeChart( "chartdiv", {
        "type": "serial",
        "theme": "light",
        "dataDateFormat":"YYYY-MM-DD",
        "valueAxes": [ {
          "position": "left",
          "title": "USD"
        } ],
        "graphs": [ {
          "id": "g1",
          "proCandlesticks": true,
          "balloonText": "Selling:<b>[[sellPrice]]</b><br>Spot:<b>[[spotPrice]]</b><br>Buying:<b>[[buyPrice]]</b>",
          "closeField": "spotPrice",
          "fillColors": "#0E9C59",
          "highField": "sellPrice",
          "lineColor": "#0E9C59",
          "lineAlpha": 3,
          "lowField": "buyPrice",
          "fillAlphas": 0.9,
          "negativeFillColors": "#A52714",
          "negativeLineColor": "#A52714",
          "openField": "spotPrice",
          "title": "Price:",
          "type": "candlestick",
          "lineThickness": 3
        } ],
        "chartCursor": {
          "valueLineEnabled": true,
          "valueLineBalloonEnabled": true
        },
        "categoryField": "time",
        "categoryAxis": {
          "parseDates": false,
          "autoGridCount": true,
          "minHorizontalGap": 100
        },
        "dataProvider": [],
        "export": {
          "enabled": true,
          "position": "bottom-right"
        }
      } );
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .vue-highcharts {
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
    padding: 0;
    border: 0;
  }
</style>
