<template>
  <div class="wrapper">
    <h1>{{ msg }}</h1>
    <div class="content">
      <div class="table">
        <table>
          <tr>
            <th class="select" colspan="2">
              <div class="select__content" v-if="availableCurrencies.length">
                <app-select v-model="newCurrency" style="width: 100%; margin: 0 auto">
                  <div slot="label">Add</div>
                  <div slot="value">
                    Add
                  </div>
                  <section class="options delivery_order__options">
                    <app-select-option
                      v-for="item of availableCurrencies" :key="item.coinbaseId"
                      :value="item"
                    >
                      <span>{{item.coinbaseId}}</span>
                    </app-select-option>
                  </section>
                </app-select>
              </div>
            </th>
            <th>Buy</th>
            <th>Sell</th>
            <th>DAY HIGH</th>
            <th>DAY LOW</th>
            <th>DAY CHANGE</th>
            <th>% CHANGE</th>
            <th>Time</th>
          </tr>
          <tr class="tr" v-for="(currency, index) in currencies" v-on:click="chooseCurrency(currency)" v-bind:class="[ currency.isActive? 'active' : '' ]">
            <td class="tr__remove"><button v-on:click="removeCurrency($event, index, currency)">-</button></td>
            <td class="tr__title">{{currency.coinbaseId}}-USD</td>
            <td>{{currency.buy}}</td>
            <td>{{currency.sell}}</td>
            <td>{{currency.dayHigh}}</td>
            <td>{{currency.dayLow}}</td>
            <td>{{currency.dayChange}}</td>
            <td>{{currency.dayChangePercent}}</td>
            <td>{{currency.lastTime}}</td>
          </tr>
        </table>
      </div>
      <div class="chart">
        <app-chart v-bind:dataset="activeCurrency"></app-chart>
      </div>
    </div>

  </div>
</template>


<script>

  class initCurrency {
    constructor(currency) {
      let self = this;

      this.name = currency.coinbaseId + '-USD';
      this.coinbaseId = currency.coinbaseId;
      this.dayChangePercent = currency.dayChangePercent;
      this.dayChange = currency.dayChange;
      this.dayHigh = currency.dayHigh;
      this.dayLow = currency.dayLow;

      if (currency.chart.length) {
        this.buy = currency.chart[currency.chart.length - 1].buyPrice;
        this.sell = currency.chart[currency.chart.length - 1].sellPrice;
        this.lastTime = currency.chart[currency.chart.length - 1].time;
      }

      this.isActive = false;
      this.chart = currency.chart;
    }

  }

  const currencies = [];
  import io from 'socket.io-client';
  import {StfSelect, StfSelectOption} from "stf-vue-select";
  import "stf-vue-select/dist/lib/stf-vue-select.min.css";
  import AppChart from './chart/Chart';
  import { globalStore } from '../constants.js';

  export default {
    name: 'Main',
    components: {
      'app-chart': AppChart,
      'app-select-option': StfSelectOption,
      'app-select': StfSelect
    },
    data () {
      return {
        baseUrl: globalStore.baseUrl,
        msg: 'Crypto-currencies online',
        currencies: currencies,
        activeCurrency: {
          name: currencies.length? currencies[0].name : 'Currency',
          chart: currencies.length? currencies[0].chart : []
        },
        currencyRequest: null,
        newCurrency: null,
        availableCurrencies: [],
        socketList: {
          btc: null,
          eth: null,
          bch: null,
          ltc: null
        }
      }
    },
    watch: {
      currencies: function(newVal) {

        if (newVal) {
          this.getAvailableCurrencies();
        }

      },
      newCurrency: function(newVal) {
        if (newVal) {
          this.$http.get(`${this.baseUrl}api/v1/currency/${newVal._id}`)
            .then(function(response) {
              let newCurrency = new initCurrency(response.body);
              this.currencies.push(newCurrency)
            });
        }
      }
    },

    created() {
    },

    mounted() {
      this.getAvailableCurrencies().then( function(data) {
        let self = this;
        data.forEach(function(currency, index) {
          let newCurrency = new initCurrency(currency);
          self.currencies.push(newCurrency);

          if (index === 0) {
            newCurrency.isActive = true;
            self.activeCurrency.name = currency.coinbaseId;
            self.activeCurrency.chart = currency.chart;
          }

        });

        self.initCurrencySocket();

      });

    },

    methods: {

      initCurrencySocket: function() {
        let self = this;
        ['eth', 'btc', 'bch', 'ltc'].forEach(function(socketEndPoint){
          self.socketList[socketEndPoint] = io.connect(self.baseUrl + socketEndPoint);
          self.socketList[socketEndPoint].on('update', function(data) {
            self.updateCurrency(data);
          });
        });
      },

      chooseCurrency: function(currency) {
        this.currencies.forEach( function(currency) {
          currency.isActive = false;
        });
        currency.isActive = true;
        this.activeCurrency.name = currency.name;
        this.activeCurrency.chart = currency.chart;
      },

      getAvailableCurrencies: function() {
        return this.$http.get(`${this.baseUrl}api/v1/currency/getList`)
          .then(function(response) {
            this.availableCurrencies = response.body;
            this.reinitAvailableCurrency();
            return this.availableCurrencies;
          });
      },

      reinitAvailableCurrency: function() {
        const self = this;
        self.availableCurrencies = self._.filter(self.availableCurrencies, function(availableCurrency) {
          return !self._.filter(self.currencies, function(currency) {
            return availableCurrency.coinbaseId === currency.coinbaseId
          }).length
        });
      },

      removeCurrency: function($event, index)  {
        this.currencies.splice(index, 1);

        if (this.currencies.length) {
          this.currencies.forEach(function(currency) {
            currency.active = false;
          });
          this.currencies[0].active = true;
          this.activeCurrency.name = this.currencies[0].name;
          this.activeCurrency.chart = this.currencies[0].chart;
        } else {
          this.activeCurrency.name = 'Currency';
          this.activeCurrency.chart = [];
        }

        $event.stopImmediatePropagation();
      },

      updateCurrency: function(currency){
        if (currency.coinbaseId) {
          const self = this;
          self.currencies.forEach( function(currencyToUpdate, index) {
            if (currency.coinbaseId === currencyToUpdate.coinbaseId) {
              currencyToUpdate.chart.push(currency.chart[0]);
              currencyToUpdate.lastTime = currency.chart[0].time;
              currencyToUpdate.dayChange = currency.dayChange;
              currencyToUpdate.dayChangePercent = currency.dayChangePercent;
              currencyToUpdate.dayHigh = currency.dayHigh;
              currencyToUpdate.dayLow = currency.dayLow;
              $(".tr").eq(index).effect("highlight", {}, 3000);
            }
          });
        }
      }

    }

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: inset 0 5px 5px #c1c1c0;
    padding-top: 10px;
  }
  .content, .chart {
    z-index: 10;
    background-color: #fff;
  }
  .content .table, .chart {
    width: 50%;
    border-bottom: 1px solid #e2e2df;
    border-right: 1px solid #e2e2df;
  }
  .table table {
    width: 100%;
    /*table-layout: fixed;*/
  }
  .table table {
    border-collapse: collapse;
  }
  .table table tr {
    border: 0;
    border-bottom: 1px solid #e2e2df;
    box-shadow: 5px 2px 2px #e2e2df;
  }
  .table table tr:last-child {
    box-shadow: none;
  }
  .table table tr th, td {
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .table table tr th {
    font-weight: bold;
    text-transform: uppercase;
  }
  .table table tr.tr {
    cursor: pointer;
  }
  .table table tr th.select {
    padding: 0 15px;
    /*width: 20%;*/
  }
  .table table tr th.select .select__content {
    width: 100px;
    margin: auto;
  }
  .table table tr.tr.active {
    background-color: rgba(142,141,138, 0.1);
  }
  .table table tr.tr:hover {
    background-color: rgba(142,141,138, 0.1);
  }
  .table table tr .tr__title {
    font-weight: bold;
    text-transform: uppercase;
  }
  .table table tr .tr__remove {
    font-weight: bold;
    padding: 0 10px;
  }
</style>
